html, body {
    background-color: #000 !important;
    height: 100%;
    color: #ffffff !important;
    /*opacity: 0;*/
    /*animation: fadeIn 3s ease-out forwards;*/
}

@keyframes fadeIn {
    70% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


h1 {
    font-size: 96px !important;
    font-family: "JetBrains Mono", sans-serif;
    padding: 0;
    margin: 0;
}

#weather-chart-time-cursor {
    line-height: 16px;
    margin-top: -6px;
    transform: translateX(calc(5% - 8px));
    svg {
        rotate: -45deg;
    }
}

.notification {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    .icon-container {
        display: flex;
        gap: 8px;
        svg {
            width: 24px;
            height: 24px;
        }
    }
    .text {
        margin-left: 16px;
        p {
            font-size: 24px;
            margin-bottom: 0;
        }
        span {
            font-size: 18px
        }
    }
}