html, body {
    background-color: #000 !important;
    height: 100%;
    color: #ffffff !important;
    border: 3px solid #ffffff;
}

h1 {
    font-size: 96px !important;
    font-family: "JetBrains Mono", sans-serif;
    padding: 0;
    margin: 0;
}

.notification {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    .icon-container {
        display: flex;
        gap: 8px;
        svg {
            width: 24px;
            height: 24px;
        }
    }
    .text {
        margin-left: 16px;
        p {
            font-size: 24px;
            margin-bottom: 0;
        }
        span {
            font-size: 18px
        }
    }
}