<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projector Display</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/display.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bootstrap.min.css') }}">
</head>
<body>
    <div class="h-100 d-flex align-items-center justify-content-center">
        <h1 id="time">Time</h1>
    </div>

    <script>
        function updateTime(){
            const now = new Date();
            const time = now.toTimeString().slice(0, 8);
            document.getElementById('time').textContent = time
        }

        setInterval(updateTime, 1000)

        updateTime()
    </script>
</body>
</html>