<!doctype html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Projector Configurator</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bootstrap.min.css') }}">
</head>
<body>
    <div class="col-lg-8 mx-auto p-4 py-md-5">
        <header class="d-flex align-items-center pb-1">
            <h1>Projector configuration</h1>
        </header>
        <hr>
        <h3 class="pb-2">Projector</h3>
        <a class="btn {{"btn-primary" if projector_state == "stopped" else "btn-danger"}}" href="/projector/toggle" role="button">
        {{"Turn on" if projector_state == "stopped" else "Turn off"}}
        </a>
        <hr>
        <h3>MQTT</h3>
        <form action="http://localhost:5000/config" method="POST" class="mb-3"
              style="border-bottom-left-radius: 6px; border-bottom-right-radius: 6px">
            <div class="mb-3">
                <label for="mqtt_address" class="form-label">MQTT Address</label>
                <input type="text" class="form-control" name="mqtt_address" id="mqtt_address" placeholder="192.168.1.100" value="{{data.mqtt_address}}">
            </div>
            <div class="mb-3">
                <label for="mqtt_port" class="form-label">MQTT Port</label>
                <input type="text" class="form-control" name="mqtt_port" id="mqtt_port" value="{{data.mqtt_port or '1883'}}">
            </div>
            <div class="mb-3">
                <label for="mqtt_user" class="form-label">MQTT User</label>
                <input type="text" class="form-control" name="mqtt_user" id="mqtt_user" value="{{data.mqtt_user}}">
            </div>
            <div class="mb-3">
                <label for="mqtt_password" class="form-label">MQTT Password</label>
                <input type="password" class="form-control" name="mqtt_password" id="mqtt_password" value="{{data.mqtt_password}}">
            </div>
            <div class="form-check form-switch pb-1">
                <input class="form-check-input" type="checkbox" name="mqtt_autodiscovery" id="mqtt_autodiscovery" {{ "checked" if data.mqtt_autodiscovery == 'true'}}>
                <label class="form-check-label" for="mqtt_autodiscovery">Enable Homeassistant auto-discovery</label>
            </div>
            <div class="form-text" id="basic-addon4">This will push an updated config on MQTT each time something is edited, changes made in the homeassistant UI will be overwritten</div>
            <button type="submit" class="btn btn-primary mt-4">Save</button>
        </form>
    </div>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}" crossorigin="anonymous"></script>
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}" crossorigin="anonymous"></script>
</body>
</html>