{% extends 'base.html' %}
{% block content %}
<form action="/config/mqtt" method="POST" class="mb-3 p-4 border-end border-start border-bottom"
      style="border-bottom-left-radius: 6px; border-bottom-right-radius: 6px">
    <div class="mb-3">
        <label for="address" class="form-label">MQTT Address</label>
        <input type="text" class="form-control" name="address" id="address" placeholder="192.168.1.100" value="{{data.address}}">
    </div>
    <div class="mb-3">
        <label for="port" class="form-label">MQTT Port</label>
        <input type="text" class="form-control" name="port" id="port" value="{{data.port or '1883'}}">
    </div>
    <div class="mb-3">
        <label for="user" class="form-label">MQTT User</label>
        <input type="text" class="form-control" name="user" id="user" value="{{data.user}}">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">MQTT Password</label>
        <input type="password" class="form-control" name="password" id="password" value="{{data.password}}">
    </div>
    <button type="submit" class="btn btn-primary mt-2">Test connection</button>
</form>
{% if (status == 'success' or status == 'published') %}
<div class="alert alert-success" role="alert">
    MQTT config is valid. Successfully connected.
</div>
{% endif %}
{% if status == 'unauthorized' %}
<div class="alert alert-danger" role="alert">
    MQTT connect returns an unauthorized error
</div>
{% endif %}
{% if status == 'timed out' %}
<div class="alert alert-danger" role="alert">
    MQTT connection timed out
</div>
{% endif %}
{% endblock %}