<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projector Display</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/display.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bootstrap.min.css') }}">
</head>
<body>
    <div class="h-100 d-flex align-items-center justify-content-center flex-column">
        <h1 id="time">Time</h1>
        <div id="disruptions">

        </div>
    </div>

    <script src="{{ url_for('static',filename='js/jquery.min.js') }}" crossorigin="anonymous"></script>
    <script src="{{ url_for('static',filename='js/clock.js') }}" crossorigin="anonymous"></script>
    <script src="{{ url_for('static',filename='js/ns_api.js') }}" crossorigin="anonymous"></script>
</body>
</html>