<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projector Display</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/display.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/dist/bootstrap.min.css') }}">
</head>
<body>
    <div class="h-100 d-flex flex-column align-items-center">
        <h1 id="time">Time</h1>
        {% if environment.weather_enabled %}
        <div id="weather-widget">
            <div class="top">
                <div class="main-weather">
                    <img src="{{ url_for('static',filename='svg/extreme-day.svg') }}" alt="" class="main-weather-icon">
                    <p>23° <span>18°</span></p>
                </div>
                <div class="weather-description">
                    <p>RAINY</p>
                </div>
            </div>
            <div class="bottom">
                <div class="slot">
                    <p class="time">3 PM</p>
                    <img src="{{ url_for('static',filename='svg/extreme-day.svg') }}">
                    <p class="temp">20°</p>
                </div>
                <div class="slot">
                    <p class="time">3 PM</p>
                    <img src="{{ url_for('static',filename='svg/extreme-day.svg') }}">
                    <p class="temp">20°</p>
                </div>
                <div class="slot">
                    <p class="time">3 PM</p>
                    <img src="{{ url_for('static',filename='svg/extreme-day.svg') }}">
                    <p class="temp">20°</p>
                </div>
                <div class="slot">
                    <p class="time">3 PM</p>
                    <img src="{{ url_for('static',filename='svg/extreme-day.svg') }}">
                    <p class="temp">20°</p>
                </div>
                <div class="slot">
                    <p class="time">3 PM</p>
                    <img src="{{ url_for('static',filename='svg/extreme-day.svg') }}">
                    <p class="temp">20°</p>
                </div>
                <div class="slot">
                    <p class="time">3 PM</p>
                    <img src="{{ url_for('static',filename='svg/extreme-day.svg') }}">
                    <p class="temp">20°</p>
                </div>
            </div>
        </div>
        {% endif %}
        <div id="notifications"></div>
    </div>

    <!-- Script load order matters! -->
    <script>
        // Loop over environment variables object and set them as js variables
        {% for key, value in environment.items() %}
            {% if value is not none %}
                var {{ key | lower }} = "{{ value }}";
            {% endif %}
        {% endfor %}
    </script>
    <script src="{{ url_for('static',filename='js/dist/jquery.min.js') }}" crossorigin="anonymous"></script>
    <script src="{{ url_for('static',filename='js/dist/chart.js') }}" crossorigin="anonymous"></script>
    <script src="{{ url_for('static',filename='js/ns_api.js') }}" crossorigin="anonymous"></script>
    <script src="{{ url_for('static',filename='js/weather_api.js') }}" crossorigin="anonymous"></script>
    <script src="{{ url_for('static',filename='js/display.js') }}" crossorigin="anonymous"></script>
</body>
</html>